* {
 box-sizing: border-box;
 scroll-behavior: smooth;
}
#home-cover {
 text-align: center;
 background-image: url(../images/home-cover.jpg);
 background-repeat: no-repeat;
}
/* .home-heading {
 text-align: center;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
} */
/* #course-height {
 height: 500px;
} */
#course-bg-img {
 background-image: url(../images/Courses/course-bg-img.jpg);
 background-repeat: no-repeat;
}
